.error {
    color: white;
    background-color: rgba(241, 51, 25, 0.897);
    padding: .2rem;
    border-radius: .3rem;
}

.auth-error {
    text-align: center;
}

#spinner {
    text-align: center;
}