
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
}

.edit-container {
    position: fixed;
    display: flex;
    width: 80%;
    z-index: 100;
    top: 1vh;
    background: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.bottom-row {
    display: flex;
    justify-content: space-between;
}

.image {
    display: flex;
    max-width: 13rem;
}

.buttons {
    display: flex;
    align-items: flex-end;
}

.radio {
    display: flex;
    align-items: baseline;
}

@media (max-width: 576px) {
    .edit-container {
        max-width: 100%;
        height: 44rem;
        width: 17rem;
        top: 1vh;
    }
    .mb-3 {
        margin-bottom: 0 !important;
    }
    .image {
        display: none;
    }
}
